{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>AliCart - Your Best Choice</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slider-range.css" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
    .suggestion-container {
        display: none;
    }
</style>
</head>

<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 mb-md-0 mb-sm-5">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-2.jpg' %}" alt="product image" />
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-1.jpg' %}" alt="product image" />
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-3.jpg' %}" alt="product image" />
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-4.jpg' %}" alt="product image" />
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-5.jpg' %}" alt="product image" />
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-6.jpg' %}" alt="product image" />
                                    </figure>
                                    <figure class="border-radius-10">
                                        <img src="{% static 'assets/imgs/shop/product-16-7.jpg' %}" alt="product image" />
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails">
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-3.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-7.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-8.jpg' %}" alt="product image" /></div>
                                    <div><img src="{% static 'assets/imgs/shop/thumbnail-9.jpg' %}" alt="product image" /></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info pr-30 pl-30">
                                <span class="stock-status out-stock"> Sale Off </span>
                                <h3 class="title-detail"><a href="#" class="text-heading">Seeds of Change Organic Quinoa, Brown</a></h3>
                                <div class="product-detail-rating">
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (32 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <span class="current-price text-brand">TJS38</span>
                                        <span>
                                            <span class="save-price font-md color3 ml-15">26% Off</span>
                                        <span class="old-price font-md ml-15">TJS52</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="detail-extralink mb-30">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart"><i class="fi-rs-shopping-cart"></i>Add to cart</button>
                                    </div>
                                </div>
                                <div class="font-xs">
                                    <ul>
                                        <li class="mb-5">Vendor: <span class="text-brand">ITTIHOD</span></li>
                                        <li class="mb-5">MFG:<span class="text-brand"> Jun 4.2022</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-1 header-height-2">
        <div class="mobile-promotion">
            <span>Grand opening, <strong>up to 5%</strong> off all items. Only <strong>30 days</strong> left</span>
        </div>

        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="{% static 'assets/imgs/theme/logo.png' %}" alt="logo" /></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form id="large-screen-search-form" action="{% url 'core:search' %}" method="GET">
                                <select class="select-active" id="category-select">
                                    <option>All Categories</option>
                                    <option>Grocery Essentials</option>
                                    <option>Cloths & Fashion</option>
                                    <option>Vegetables & Fruit</option>
                                    <option>Everyday Items</option>
                                    <option>Skin Solutions</option>
                                    <option>Gadget Zone</option>
                                    <option>Aroma Boutique</option>
                                    <option>Outdoor & Leisure</option>
                                </select>
                                <input type="text" placeholder="Search for items..." id="large-screen-search-input" name="q" />
                                <button class="material-symbols-outlined" type="submit"><span class="material-symbols-outlined">Search</span></button>
                            </form>
                            <div id="large-screen-suggestions" style="height:auto; background:aliceblue; margin-left: 20%; width: max-content;" class="form-control suggestion-container"></div>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="search-location">
                                    <form action="#">
                                        <select class="select-active">
                                            <option>Your Location</option>
                                            <option>Khorog</option>
                                            <option>Suchon</option>
                                            <option>Rushon</option>
                                            <option>Gund</option>
                                            <option>Darvoz</option>
                                            <option>Dushanbe</option>
                                            <option>Vakhsh</option>
                                        </select>
                                    </form>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="{% url 'core:wishlist' %}">
                                        <img class="svgInject" alt="AliCart" src="{% static 'assets/imgs/theme/icons/icon-heart.svg' %}" />
                                        {% if request.user.is_authenticated %}
                                        <span class="pro-count blue">{{ wishlist.count }}</span>
                                        {% else %}
                                        <span class="pro-count blue">0</span>
                                        {% endif %}
                                    </a>
                                    <a href="{% url 'core:wishlist' %}"><span class="lable">Wishlist</span></a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="{% url 'core:cart' %}">
                                        <img alt="AliCart" src="{% static 'assets/imgs/theme/icons/icon-cart.svg' %}" />
                                        <span class="pro-count blue cart-items-count">{{ request.session.cart_data_obj|length }}</span>
                                    </a>
                                    <a href="{% url 'core:cart' %}"><span class="lable">Cart</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2">

                                        <div class="shopping-cart-footer">

                                            <div class="shopping-cart-button">
                                                <a href="{% url 'core:cart' %}" class="outline">View cart</a>
                                                <a href="{% url 'core:checkout' %}">Checkout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-action-icon-2">
                                    <a href="{% url 'core:dashboard' %}">
                                        <img class="svgInject" alt="AliCart" src="{% static 'assets/imgs/theme/icons/icon-user.svg' %}" />
                                    </a>
                                    <a href="{% url 'core:dashboard' %}"><span class="lable ml-0">Account</span></a>
                                    <div class="cart-dropdown-wrap cart-dropdown-hm2 account-dropdown">
                                        <ul>
                                            <li><a href="{% url 'useradmin:dashboard' %}"><i class="fi fi-rs-user mr-10"></i>Admin Dashboard</a></li>
                                            <!-- <li><a href="page-account.html"><i class="fi fi-rs-label mr-10"></i>My Voucher</a></li> -->
                                            <li><a href="{% url 'core:wishlist' %}"><i class="fi fi-rs-heart mr-10"></i>My Wishlist</a></li>
                                            <li><a href="{% url 'core:dashboard' %}"><i class="fi fi-rs-user mr-10"></i>My Account</a></li>
                                            {% if request.user.is_authenticated %}
                                            <li><a href="{% url 'userauths:sign-out' %}"><i class="fi fi-rs-sign-out mr-10"></i>Sign out</a></li>
                                            {% else %}
                                            <li><a href="{% url 'userauths:sign-in' %}"><i class="fi fi-rs-sign-in mr-10"></i>Sign In</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <!-- mobile logo -->
                    <div class="logo logo-width-1 d-block d-lg-none"> 
                        <a href="{% url 'core:index' %}"><img src="{% static 'assets/imgs/theme/logo.png' %}" alt="logo" style="margin-left: -70px;" /></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categories-button-active" href="#">
                                <span class="fi-rs-apps"></span> <span class="et">Browse</span> All Categories
                                <i class="fi-rs-angle-down"></i>
                            </a>
                            <div class="categories-dropdown-wrap categories-dropdown-active-large font-heading">
                                <div class="d-flex categori-dropdown-inner">
                                    <ul>
                                        {% for c in categories %}

                                        <li>
                                            <a href="{% url 'core:category-product-list' c.cid %}"> <img src="{{ c.image.url }}" alt="" />{{c.title}}</a>
                                        </li>
                                        {% endfor %}

                                    </ul>

                                </div>

                                <div class="more_categories"><span class="icon"></span> <span class="heading-sm-1">Show more...</span></div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block font-heading">
                            <nav>
                                <ul>
                                    <li class="hot-deals"><img src="{% static 'assets/imgs/theme/icons/icon-hot.svg' %}" alt="hot deals" /><a href="{% url 'core:product-list' %}">Deals</a></li>
                                    <li>
                                        <a class="active" href="{% url 'core:index' %}">Home</a>

                                    </li>

                                    <li>
                                        <a href="#">Category <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            {% for c in categories %}
                                            <li><a href="{% url 'core:category-product-list' c.cid %}">{{c.title}}</a></li>
                                            {% endfor %}
                                            <hr>
                                            <li><a href="{% url 'core:category-list' %}">All Categories</a></li>

                                        </ul>
                                    </li>

                                    <li>
                                        <a href="{% url 'core:product-list'  %}">Shop</a>
                                    </li>

                                    <li>
                                        <a href="{% url 'core:vendor-list' %}">Vendors </a>

                                    </li>
                                    <li>
                                        <a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'core:about_us' %}">About Us</a></li>
                                            <li><a href="{% url 'core:dashboard' %}">My Dashboard</a></li>
                                            <li><a href="{% url 'core:privacy_policy' %}">Privacy Policy</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{% url 'core:contact' %}">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- mobile  -->
                    <div class="hotline d-none d-lg-flex">
                        <img src="{% static 'assets/imgs/theme/icons/icon-headphone.svg' %}" alt="hotline" />
                        <p>50-111-11-11<span>24/7 Support Center</span></p>
                    </div>
                    <div class="header-action-left d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <div class="mobile-social-icon">
                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/whatsapp-icon.svg' %}" alt="whatsapp-icon" /></a>
                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}" alt="facebook -Icon" /></a>
                                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}" alt="Instagram - icon" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <script>
                    setTimeout (() => {
                        TJS(".alert").alert("close");
                    }, 3000)
                </script>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="{% static 'assets/imgs/theme/logo.png' %}" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form id="mobile-search-form" action="{% url 'core:search' %}" method="GET">
                        <input type="text" placeholder="Search for items…" id="mobile-search-input" name="q" />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                    <div id="mobile-suggestions" style="height:auto; background:aliceblue; width: max-content;" class="form-control suggestion-container"></div>
                </div>
                <div class="mobile-header-info-wrap">
                    <div class="single-mobile-header-info">
                        <a href="page-contact.html"><i class="fi-rs-marker"></i> Tajikistan </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="{ % url 'userauths:sign-in' %}"><i class="fi-rs-user"></i>Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#"><i class="fi-rs-headphones"></i>(+992) 111-11-11 </a>
                    </div>
                </div>
                <div class="mobile-social-icon mb-50">
                    <h6 class="mb-15">Follow Us</h6>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-facebook-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-twitter-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-instagram-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-pinterest-white.svg' %}" alt="" /></a>
                    <a href="#"><img src="{% static 'assets/imgs/theme/icons/icon-youtube-white.svg' %}" alt="" /></a>
                </div>
                <div class="site-copyright">Copyright 2024 - AliCart - Your Best. All rights reserved.</div>
            </div>
        </div>
    </div>
    {% load static %}

    <main class="main pages">
        <div class="page-content pt-30 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <div id="successMessage" class="alert alert-success" style="display: none;"></div>
                                            <div id="errorMessage" class="alert alert-danger" style="display: none;"></div>

                                            <h1 class="mb-5">Forgot Password</h1>
                                            <p class="mb-30">Don't have an account? <a href="{% url 'userauths:sign-up' %}">Create here</a></p>
                                        </div>
                                        <form id="forgotForm" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input type="email" required name="email" placeholder="Email *" value="{{ form_data.email }}"/>
                                            </div>
                                            <div class="form-group" id="submitBtn">
                                                <button type="submit" class="btn btn-heading btn-block hover-up" id="sendOTPBtn">Reset Password</button>
                                            </div>
                                            <div class="form-group" id="otpField" style="display: none;">
                                                <input type="text" required name="otp" placeholder="OTP *" value="{{ form_data.otp }}"/>
                                            </div>
                                            <div class="form-group" id="verifyBtn" style="display: none;">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" id="verifyOTPBtn">Verify OTP</button>
                                            </div>
                                            <div id="forgotFields" style="display: none;">
                                                <div class="form-group">
                                                    <input type="password" required name="password1" placeholder="New Password *" value="{{ form_data.password1 }}" />
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" required name="password2" placeholder="Confirm Password *" value="{{ form_data.password2 }}" />
                                                </div>
                                            </div>
                                            <div class="form-group mb-30" id="updatePasswordBtn" style="display: none;">
                                                <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="signup">Update Password</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script>
    $(document).ready(function(){
        $("#sendOTPBtn").click(function(){
            var email = $("input[name='email']").val();
            if(email.trim() === "") {
                // Show error message or handle empty email scenario
                return;
            }

            $.ajax({
                url: "{% url 'userauths:send_forgot_otp' %}",
                type: "POST",
                data: {
                    'email': email,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
                },
                dataType: 'json',
                success: function(data){
                    if (data.error) {
                        $("#errorMessage").text(data.error);
                        $("#errorMessage").show();
                        setTimeout(function(){
                            $("#errorMessage").hide();
                        }, 5000);
                    } else {
                        $("#successMessage").text(data.success);
                        $("#successMessage").show();
                        setTimeout(function(){
                            $("#successMessage").hide();
                        }, 5000);
                        $("#otpField").show();
                        $("#submitBtn").hide();
                        $("#verifyBtn").show();
                    }
                }
            });
        });

        $("#verifyOTPBtn").click(function(){
            var email = $("input[name='email']").val();
            var otp = $("input[name='otp']").val();
            $.ajax({
                url: "{% url 'userauths:verify_otp' %}",
                type: "POST",
                data: {
                    'email': email,
                    'otp': otp,
                    'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val()
                },
                dataType: 'json',
                success: function(data){
                    if (data.error) {
                        $("#errorMessage").text(data.error);
                        $("#errorMessage").show();
                        setTimeout(function(){
                            $("#errorMessage").hide();
                        }, 5000);
                    } else {
                        $("#successMessage").text(data.success);
                        $("#successMessage").show();
                        setTimeout(function(){
                            $("#successMessage").hide();
                        }, 5000);
                        $("#verifyBtn").hide();
                        $("#forgotFields").show();
                        $("#updatePasswordBtn").show();
                    }
                }
            });
        });
    });
</script>
{% if messages %}
    <script>
        $("#sendOTPBtn").hide();
        $("#otpField, #forgotFields, #updatePasswordBtn").show();
    </script>
{% endif %}
<footer class="main">
    
</footer>
</html>